body {
  background-image: url("src/assets/img/backgroundOAGARGE.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 0 -100px;
  font-size: 12px ;
}
.card{
  font-size: 12pt;
  background-color:lightgray;
  opacity: 92%;

}
