<app-navbar></app-navbar>
<body>


<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <!-- Start Login Card -->
        <div class="card" style="border-radius: 1rem;border-color: beige">
          <div class="row g-0">

            <!-- Start Image Div of Skylar on Left side of LoginCard -->
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/assets/img/loginpic.jpg"
                   alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;border-color: beige"/>
            </div>
            <!-- End Image Div -->

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <!-- Start Initialising FormCheck "loginForm" from TypeScript Function-->
                <form [formGroup]="loginForm">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Skylar Login</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <!-- Start Username Input and Validator Call -->
                  <div class="form-outline mb-4">
                    <div class="form-floating">
                    <input type="username" class="form-control" id="username"  formControlName="username">
                    <label for="username">Username</label>
                    <div *ngIf="loginForm.invalid && usernameControl?.touched && usernameControl.errors">
                      <span *ngIf="usernameControl.errors['required']">Username is required</span>
                    </div>
                    </div>
                  </div>
                  <!-- End Username Input and Validator Call -->

                  <!-- Start Password Input and Validator Call -->
                  <div class="form-outline mb-4">
                    <div class="form-floating">
                    <input type="password" class="form-control" id="Password" formControlName="password">
                    <label for="Password" class="form-label">Password</label>
                     <div *ngIf="loginForm.invalid && passwordControl.touched && passwordControl.errors">
                      <span *ngIf="passwordControl.errors['minLength']">At least 8 characters</span>
                    </div>
                    </div>
                  </div>
                  <!-- End Password Input and Validator Call -->

                  <!-- Start Login Function Call and Backend Save-->
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" [disabled]="this.loginForm.invalid" (click)="login()" >Login</button>
                  </div>
                  <!-- End Login Function Call and Backend Save-->

                  <a class="small text-muted" href="/registration">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/registration"
                                                                                            style="color: #393f81;">Register here</a></p>

                </form>
                <!-- End Initialising FormCheck "loginForm" from TypeScript Function-->

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Login Card -->
    </div>
  </div>
</section>
</body>
