
<!-- Start: Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="footer-contact-icon">
        <div class="footer-impressum">
          <p>Created by <a href="#start" class="footer-impressum-color">DHBW</a> Stuttgart</p>
          <p class="copyright"> &copy; 2022 - OAG ARGE </p>
        </div>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-google-plus-g"></i>
        <i class="fa-brands fa-grav"></i>
      </div>
    </div>
    <!-- End: Footer-Contact -->
  </div>
</footer>
<!-- End: Footer -->
