
footer {
  background-color: lightgray;
  padding-bottom: 50px;
  text-align: center;
  padding-top: 20px;
}

.footer-impressum p{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  color: black;

}
.footer-impressum-color{
  color: red;

}

.footer-impressum .copyright{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;

  padding-top: 0px;
}

.footer-impressum p span{
  color: #FFE600;
}



.footer-contact-icon i{
  font-size: 110%;
  color: black;
  border: 1px solid;
  background-color: #F5F5F5;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  margin-left: 4px;
}
