
body {
  background-color:white;
  height: 110vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

hr{
  border: solid 5px black;

}
h1{
  color: black;
  text-align: center;

}
.financeTable{

  padding: 0 8px;

}

section{
  width: 100%;
  display: table;
  max-height: 400px;
  overflow: auto;
  opacity: 0.88;
  height: 100%;
  font-size: 12pt;
}
th,td{
text-align: center;
  width: 200px;
}
.Budget{
  display: flex;
  position: relative;

}

.Budget td{
  border: 2px solid black;
}
.bankAccount{
  display: flex;
  position: relative;

}
.bankAccount td{
  border: 2px solid black;
}
.project{
  display: flex;
  position: relative;
}
.project td{
  border: 2px solid black;
}
.booking{
  display: flex;
  position: relative;
}
.booking td{
  border: 2px solid black;
}
input[type=text],[type=name],[type=number],[type=datetime-local]{
  border: none;
  padding:10px;
  border-radius:10px;
  border-bottom: 2.5px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
button{
  border: none;
  border-radius: 10px;
  border-bottom: 2.5px solid black;

}

button:hover{
  color: beige;
  background-color: black;

}
select{
  padding:10px;
  border-radius:10px;
  border-bottom: 2.5px solid black;
}
.card{
  margin-top: 64px;
  margin-inline: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
h5{
  text-align: center;
  font-size: 18pt;
  font-weight: 400
}
table{
  height: 150px;

}



