body {

  background-image: url("src/assets/img/backgroundOAGARGE.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  background-attachment: fixed;
  width: 100%;

}
html{
  overflow: auto;
}
hr{
  border: solid 5px black;

}
h1{
  color: beige;
}
table{
  background-color: lightgray;
  opacity: 92%;
  size: 750px;

}
