<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Skylar Budgetverwaltung</title>
</head>
<body>
<div class="header2 bg-success-gradiant">
  <div class="">
    <!-- Start Navbar Code -->
    <nav class="navbar navbar-expand-lg h2-nav">
      <a class="navbar-brand" href="/home">Skylar </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header2" aria-controls="header2"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-menu"></span>
      </button>
      <div class="collapse navbar-collapse hover-dropdown" id="header2">

        <!-- Start Navbar left side-->
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>

          <!-- Start Dropdown User Interaction-->
          <li class="nav-item dropdown position-relative">
            <a class="nav-link dropdown-toggle" href="#"  id="h2-dropdown" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              User Interaction
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/registration">Registration</a></li>
            </ul>
          </li>
          <!-- End Dropdown User Interaction-->

          <!-- Start Dropdown For interaction on roles-->
          <li class="nav-item dropdown position-relative">
            <a class="nav-link dropdown-toggle" href="#" id="h3-dropdown" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              Role Interaction <i class="fa fa-angle-down ml-1 font-12"></i>
            </a>
            <ul class="dropdown-menu">
              <li *ngIf="authService.getRole() === 'Admin'" class="nav-item active"><a class="dropdown-item"
                                                                                       href="/Admin">Admin-Page</a>
              </li>
              <li *ngIf="authService.getRole() === 'Finance'|| authService.getRole() === 'Admin'"
                  class="nav-item active"><a class="dropdown-item" href="/Finance">Finance-Page</a></li>
              <li *ngIf="authService.getRole() === 'Management'|| authService.getRole() === 'Admin'"
                  class="nav-item active"><a class="dropdown-item" href="/Management">Management-Page</a></li>
              <li *ngIf="authService.getRole() === 'Management'|| authService.getRole() === 'Admin'"
                  class="nav-item active"><a class="dropdown-item" href="/budget-list">Budget List</a></li>
            </ul>
           </li>
          <!-- End Dropdown For interaction on roles-->

        </ul>
        <!-- End Navbar left side-->

        <!-- Start Navbar right side-->
        <ul class="navbar-nav ml-auto" style="margin-right: 250px">
          <li class="nav-item dropdown position-relative">
            <a class="nav-link dropdown-toggle" href="#" id="h4-dropdown" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              <img *ngIf="authService.getRole() ==='Finance'" src="assets/img/icon-admin.png">
              <img *ngIf="authService.getRole() ==='Admin'" src="assets/img/icons8-circled-a-48.png">
              <img *ngIf="authService.getRole() ==='Management'" src="assets/img/icons8-circled-m-48.png">
            </a>


            <ul class="dropdown-menu">
            <li *ngIf="authService.getRole() === 'Admin'" class="nav-item active"><a class="dropdown-item"
                                                                                     href="/Admin">Admin-Page</a>
            </li>
            <li *ngIf="authService.getRole() === 'Finance'|| authService.getRole() === 'Admin'"
                class="nav-item active"><a class="dropdown-item" href="/Finance">Finance-Page</a></li>
            <li *ngIf="authService.getRole() === 'Management'|| authService.getRole() === 'Admin'"
                class="nav-item active"><a class="dropdown-item" href="/Management">Management-Page</a></li>
            <li *ngIf="authService.getRole() === 'Management'|| authService.getRole() === 'Admin' || authService.getRole() ==='Finance'"
                class="nav-item active"><a class="dropdown-item" href="/login">Change User</a></li>
            <hr>
            <li *ngIf="authService.getRole() === 'Management'|| authService.getRole() === 'Admin' || authService.getRole() ==='Finance'"
                class="nav-item active"><a class="dropdown-item" href="/login" (click)="authService.logoutUser()">Logout</a></li>
          </ul>
          </li>
          <li *ngIf="authService.getRole() === 'Management'|| authService.getRole() === 'Admin' || authService.getRole() ==='Finance'">
            <a class="nav-link" style="color: #1d2124;" >User: {{authService.getUsername()}}</a>
          <a class="nav-link" style="color: #1d2124">Role: {{authService.getRole()}}</a> </li>
        </ul>



        <!-- End Navbar right side-->

      </div>
    </nav>
    <!-- End Navbar Code -->
  </div>
</div>
<!-- Start: Routes for HTML Connections like /home in ForYouPage or /login in LoginComponent -->
<!--Comment: Every Component (in app-routing-module) which is declared in routing Components can be used-->
<router-outlet></router-outlet>
<!-- End: Routes for HTML Connections like /home in ForYouPage or /login in LoginComponent -->

</body>
</html>
