<app-navbar></app-navbar>
<body>
<h1> Budget List </h1>
<table>

  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Value</th>
    <th>Project</th>
    <th></th>
    <th></th>

  </tr>
  <tr>
    <th><input type="date" [(ngModel)]="startDate" placeholder="Start Date" style="width: 250px;"></th>
    <th><input type="date" [(ngModel)]="endDate" placeholder="End Date" style="width: 250px;">
    </th>
    <th><input type="number" [(ngModel)]="valueB" placeholder="Value" style="width: 250px;">

    <th>
      <select [(ngModel)]="assignedProjectBudget" style="width: 150px">
        <option *ngFor="let project of projects" [value]="project.id">{{project.projectName}}</option>
      </select>

    </th>

    <th>
      <button (click)="createBudget()" class="create" size="regular"  type="button"
              style="margin-bottom: 10px;">Create an Budget
      </button>
    </th>
    <th>
      <button (click)="getAllBudgets()" size="regular"  type="button"
              style="margin-bottom: 10px;">Get All Budgets
      </button>
    </th>
  </tr>
  <tr class="genre" *ngFor="let bdg of budgets ">
    <td>
      <div *ngIf="!this.hidden[bdg.id]" style="width: 250px;margin-top: 5px">{{bdg.startDate}}</div>

      <input *ngIf="this.hidden[bdg.id]" type="text" [(ngModel)]="updStartDate" style="width: 250px;margin-top: 5px">
    </td>
    <td>
      <div *ngIf="!this.hidden[bdg.id]" style="width: 250px;margin-top: 5px">{{bdg.endDate}}</div>
      <input *ngIf="this.hidden[bdg.id]" type="text" [(ngModel)]="updEndDate" style="width: 250px;margin-top: 5px">
    </td>
    <td>
      <div *ngIf="!this.hidden[bdg.id]" style="width: 250px;margin-top: 5px">{{bdg.value}}</div>
      <input *ngIf="this.hidden[bdg.id]" type="text" [(ngModel)]="updValueB"
             style="width: 250px;margin-top: 5px">
    </td>

    <td>
      <!--<div *ngIf="!this.hidden[bdg.id]" style="width: 250px;margin-top: 5px">{{bdg.assignedProject}}</div>
      <input *ngIf="this.hidden[bdg.id]" type="text" [(ngModel)]="updAssignedProjectBudget"
             style="width: 250px;margin-top: 5px">
      <div *ngIf="!this.hidden[bdg.id]"> {{bdg.assignedProject.name}}


      </div>-->
      <div *ngIf="!this.hidden[bdg.id]" style="width: 250px;margin-top: 5px">{{bdg.assignedProjectId}}</div>

      <select *ngIf="this.hidden[bdg.id]" [(ngModel)]="updAssignedProjectBudget" style="width: 150px">
        <option *ngFor="let project of projects" [value]="project.id">{{project.projectName}}</option>
      </select>
    </td>

    <td>

      <button *ngIf="this.hidden[bdg.id]" (click)="deleteBudget(bdg.id);this.hidden[bdg.id] =!this.hidden[bdg.id]">
        Delete Budget
      </button>


      <button *ngIf="!this.hidden[bdg.id]"
              (click)="updValue=bdg.value;this.hidden[bdg.id] = !this.hidden[bdg.id]">
        Edit
      </button>


      <button *ngIf="this.hidden[bdg.id]"
              (click)="updateBudget(bdg.id);this.hidden[bdg.id]= !this.hidden[bdg.id]"
              class="create" size="small"  type="button" >
        Submit
      </button>


    </td>


  </tr>


</table>





<h1>Bank Account Table</h1>
<table>

  <tr>
    <th>Saldo</th>
    <th></th>
    <th></th>

  </tr>
  <tr>
    <th><input type="number" [(ngModel)]="saldo" placeholder="Saldo" style="width: 250px;"></th>
    <th><input type="text" [(ngModel)]="bankName" placeholder="Name" style="width: 250px;"></th>

    <!--<th>
      <select [(ngModel)]="assignedUserBA">
        <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
      </select>
    </th> -->

    <th>
      <button (click)="createBankAccount()" class="create" size="regular"  type="button"
      >Create an Bank Account
      </button>
    </th>

  </tr>
  <tr *ngFor="let ba of bankAccounts">

    <td>

      <div *ngIf="!this.hidden[ba.id]">{{ba.saldo}}</div>


      <input *ngIf="this.hidden[ba.id]" type="number" [(ngModel)]="updSaldo" placeholder="Saldo"
             style="width: 250px;">

    </td>
    <td>

      <div *ngIf="!this.hidden[ba.id]">{{ba.bankAccountName}}</div>


      <input *ngIf="this.hidden[ba.id]" type="text" [(ngModel)]="updBankName" placeholder="Name"
             style="width: 250px;">

    </td>
    <!--
    <td>


      <div *ngIf="!this.hidden[ba.id]"> {{ba.assignedUser}}



      </div>
      <select [(ngModel)]="updAssignedUserBA">
        <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
      </select>



    </td> -->
    <td>
      <button  *ngIf="this.hidden[ba.id]"
               (click)="deleteBankAccount(ba.id);this.hidden[ba.id]=!this.hidden[ba.id]" class="create" size="small"  type="button"
      >Delete
      </button>

      <button *ngIf="!this.hidden[ba.id]"
              (click)="updSaldo=ba.saldo;this.hidden[ba.id]=!this.hidden[ba.id]"
              class="create" style="margin-left: 5px" size="small"  type="button"
      > Edit
      </button>



      <button *ngIf="this.hidden[ba.id]"
              (click)="updateBankAccount(ba.id);this.hidden[ba.id]= !this.hidden[ba.id]"
              class="create" size="small"  type="button"
      >Submit
      </button>


    </td>


  </tr>


</table>

<br>
<br>
<h1>Booking Table</h1>
<table>

  <tr>
    <th>Date</th>
    <th>Value</th>
    <th>Budget</th>
    <th>Project</th>
    <th>Bank Account</th>
    <th></th>
    <th></th>

  </tr>
  <tr>
    <th><input type="date" [(ngModel)]="date" placeholder="Date" style="width: 250px;"></th>
    <th><input type="number" [(ngModel)]="value" placeholder="Value" style="width: 250px;">
    </th>
    <th>
      <select [(ngModel)]="budgetB" style="width: 150px">
        <option *ngFor="let budget of budgets" [value]="budget.id">{{budget.value}}</option>
      </select>
      <!--<input type="text" [(ngModel)]="budgetB" placeholder="Bookings" style="width: 250px;">-->

    <th>
      <select [(ngModel)]="projectB" style="width: 150px">
        <option *ngFor="let project of projects" [value]="project.id">{{project.projectName}}</option>
      </select>
      <!--<input type="text" [(ngModel)]="projectB" placeholder="Project" style="width: 250px;">-->
    </th>

    <th>
      <select [(ngModel)]="bankAccountB"style="width: 150px">
        <option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{bankAccount.bankAccountName}}</option>
      </select>
      <!--<input type="text" [(ngModel)]="bankAccountB" placeholder="BankAccount" style="width: 250px;">-->
    </th>
    <th>
      <button (click)="createBookings()" class="create" size="regular"  type="button"
      >Create an Booking
      </button>
    </th>

  </tr>
  <tr *ngFor="let booking of booking">
    <td>

      <div *ngIf="!this.hidden[booking.id]">{{booking.date}}</div>


      <input *ngIf="this.hidden[booking.id]" type="date" [(ngModel)]="updDate" placeholder="Date"
             style="width: 250px;">
    </td>
    <td>


      <div *ngIf="!this.hidden[booking.id]">{{booking.value}}</div>

      <input *ngIf="this.hidden[booking.id]" type="number" [(ngModel)]="updValue" placeholder="Value"
             style="width: 250px;">
    </td>
    <td>


      <!-- <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBudget}}</div>

       <input *ngIf="this.hidden[booking.id]" type="text" [(ngModel)]="updBudgetBooking" placeholder="Budget"
              style="width: 250px;"> -->


      <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBudgetId}}


      </div>
      <select [(ngModel)]="updBudgetB" style="width: 150px">
        <option *ngFor="let budget of budgets" [value]="budget.id">{{budget.assignedProjectId}}</option>
      </select>


    </td>

    <td>


      <!--<div *ngIf="!this.hidden[booking.id]"> {{booking.assignedProject}}</div>

      <input *ngIf="this.hidden[booking.id]" type="text" [(ngModel)]="updProjectBooking" placeholder="Project"
             style="width: 250px;"> -->

      <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedProjectId}}


      </div>
      <select [(ngModel)]="updProjectB" style="width: 150px">
        <option *ngFor="let project of projects" [value]="project.id">{{project.projectName}}</option>
      </select>
    </td>
    <td>


      <!-- <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBankAccount}}</div>

       <input *ngIf="this.hidden[booking.id]" type="text" [(ngModel)]="updBankAccountBooking" placeholder="BankAccount"
              style="width: 250px;">-->

      <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBankAccountId}}


      </div>
      <select [(ngModel)]="updBankAccountB" style="width: 150px">
        <option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{bankAccount.bankAccountName}}</option>
      </select>
    </td>
    <td>

      <button (click)="deleteBookings(booking.id)" class="create" size="small"  type="button"
      >Delete
      </button>


      <button *ngIf="!this.hidden[booking.id]"
              (click)="updValue=booking.value;updBudgetB=booking.assignedBudgetId;updUserB=booking.assignedUserId;updProjectB=booking.assignedProjectId;updBankAccountB=booking.assignedBankAccountId;this.hidden[booking.id]= !this.hidden[booking.id]"
              class="create" size="small" style="margin-left: 5px"  type="button"
      > Edit Booking
      </button>


      <button *ngIf="this.hidden[booking.id]"
              (click)="updateBooking(booking.id);this.hidden[booking.id]= !this.hidden[booking.id]"
              class="create" size="small"  type="button"
      >Submit
      </button>


    </td>


  </tr>


</table>


<h1> Project Table</h1>
<table>

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>

  </tr>
  <tr>
    <th><input type="name" [(ngModel)]="name" placeholder="Name" style="width: 250px;"></th>
    <th><input type="text" [(ngModel)]="description" placeholder="Description" style="width: 250px;">
    <th><select [(ngModel)]="userP" style="width: 150px">
      <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
    </select></th>
    <th>
      <button (click)="createProject()" class="create" size="regular"  type="button"
      >Create a Project
      </button>
    </th>

  </tr>
  <tr class="genre" *ngFor="let pj of projects ">

    <td>
      <div *ngIf="!this.hidden[pj.id]" style="width: 250px;margin-top: 5px">{{pj.projectName}}</div>

      <input *ngIf="this.hidden[pj.id]" type="text" [(ngModel)]="updName" style="width: 250px;margin-top: 5px">

    </td>
    <td>
      <div *ngIf="!this.hidden[pj.id]" style="width: 250px;margin-top: 5px">{{pj.projectDescription}}</div>
      <input *ngIf="this.hidden[pj.id]" type="text" [(ngModel)]="updDescription" style="width: 250px;margin-top: 5px">
    </td>
    <td>



      <select *ngIf="this.hidden[pj.id]" [(ngModel)]="updUserP" style="width: 150px">
        <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
      </select>
      <div *ngIf="!this.hidden[pj.id]"> {{pj.assignedUserId}}


      </div>
    </td>

    <td>

      <button *ngIf="this.hidden[pj.id]" (click)="deleteProject(pj.id);this.hidden[pj.id] =!this.hidden[pj.id]">Delete
        User
      </button>


      <button *ngIf="!this.hidden[pj.id]"
              (click)="updName=pj.projectName;updDescription=pj.projectDescription;this.hidden[pj.id] =!this.hidden[pj.id]">
        Edit
      </button>


      <button *ngIf="this.hidden[pj.id]"
              (click)="updateProject(pj.id);this.hidden[pj.id]= !this.hidden[pj.id]"
              class="create" size="small" style="margin-left: 5px"  type="button"
      >Submit
      </button>


    </td>


  </tr>


</table>


</body>
<app-footer></app-footer>
