<h1>Bank Account Table</h1>
<table>

  <tr>
    <th>Saldo</th>
    <th></th>
    <th></th>

  </tr>
  <tr>
    <th><input type="number" [(ngModel)]="saldo" placeholder="Saldo" style="width: 250px;"></th>
    <th><input type="text" [(ngModel)]="bankName" placeholder="Name" style="width: 250px;"></th>

    <!--<th>
      <select [(ngModel)]="assignedUserBA">
        <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
      </select>
    </th> -->

    <th>
      <button (click)="createBankAccount()" class="create" size="regular" shape="regular" type="button" color="primary"
      >Create an Bank Account
      </button>
    </th>

  </tr>
  <tr *ngFor="let ba of bankAccounts">

    <td>

      <div *ngIf="!this.hidden[ba.id]">{{ba.saldo}}</div>


      <input *ngIf="this.hidden[ba.id]" type="number" [(ngModel)]="updSaldo" placeholder="Saldo"
             style="width: 250px;">

    </td>
    <td>

      <div *ngIf="!this.hidden[ba.id]">{{ba.bankName}}</div>


      <input *ngIf="this.hidden[ba.id]" type="text" [(ngModel)]="updBankName" placeholder="Name"
             style="width: 250px;">

    </td>
    <!--
    <td>


      <div *ngIf="!this.hidden[ba.id]"> {{ba.assignedUser}}



      </div>
      <select [(ngModel)]="updAssignedUserBA">
        <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
      </select>



    </td> -->
    <td>

      <button (click)="deleteBankAccount(ba.id)" class="create" size="small" shape="regular" type="button"
              color="primary">Delete
      </button>


      <button *ngIf="!this.hidden[ba.id]"
              (click)="updSaldo=ba.saldo;updAssignedUserBA=ba.assignedUser.id;this.hidden[ba.id]= !this.hidden[ba.id]"
              class="create" style="margin-left: 5px" size="small" shape="regular" type="button" color="primary"
      > Edit Bank Account
      </button>


      <button *ngIf="this.hidden[ba.id]"
              (click)="updateBankAccount(ba.id);this.hidden[ba.id]= !this.hidden[ba.id]"
              class="create" size="small" shape="regular" type="button" color="primary"
      >Submit
      </button>


    </td>


  </tr>


</table>
<hr>
<br>
<br>
<h1>Booking Table</h1>
<table>

  <tr>
    <th>Date</th>
    <th>Value</th>
    <th>Budget</th>
    <th>Project</th>
    <th>Bank Account</th>
    <th></th>
    <th></th>

  </tr>
  <tr>
    <th><input type="date" [(ngModel)]="date" placeholder="Date" style="width: 250px;"></th>
    <th><input type="number" [(ngModel)]="value" placeholder="Value" style="width: 250px;">
    </th>
    <th>
      <select [(ngModel)]="budgetB">
        <option *ngFor="let budget of budgets" [value]="budget.id">{{budget.assignedProject}}</option>
      </select>
      <!--<input type="text" [(ngModel)]="budgetB" placeholder="Bookings" style="width: 250px;">-->

    <th>
      <select [(ngModel)]="projectB">
        <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
      </select>
      <!--<input type="text" [(ngModel)]="projectB" placeholder="Project" style="width: 250px;">-->
    </th>

    <th>
      <select [(ngModel)]="bankAccountB">
        <option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{bankAccount.assignedUser}}</option>
      </select>
      <!--<input type="text" [(ngModel)]="bankAccountB" placeholder="BankAccount" style="width: 250px;">-->
    </th>
    <th>
      <button (click)="createBookings()" class="create" size="regular" shape="regular" type="button" color="primary"
      >Create an Booking
      </button>
    </th>

  </tr>
  <tr *ngFor="let booking of booking">
    <td>

      <div *ngIf="!this.hidden[booking.id]">{{booking.date}}</div>


      <input *ngIf="this.hidden[booking.id]" type="date" [(ngModel)]="updDate" placeholder="Date"
             style="width: 250px;">
    </td>
    <td>


      <div *ngIf="!this.hidden[booking.id]">{{booking.value}}</div>

      <input *ngIf="this.hidden[booking.id]" type="number" [(ngModel)]="updValue" placeholder="Value"
             style="width: 250px;">
    </td>
    <td>


      <!-- <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBudget}}</div>

       <input *ngIf="this.hidden[booking.id]" type="text" [(ngModel)]="updBudgetBooking" placeholder="Budget"
              style="width: 250px;"> -->


      <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBudget.assignedProject}}


      </div>
      <select [(ngModel)]="updBudgetB">
        <option *ngFor="let budget of budgets" [value]="budget.id">{{budget.assignedProject}}</option>
      </select>


    </td>

    <td>


      <!--<div *ngIf="!this.hidden[booking.id]"> {{booking.assignedProject}}</div>

      <input *ngIf="this.hidden[booking.id]" type="text" [(ngModel)]="updProjectBooking" placeholder="Project"
             style="width: 250px;"> -->

      <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedProject.name}}


      </div>
      <select [(ngModel)]="updProjectB">
        <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
      </select>
    </td>
    <td>


      <!-- <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBankAccount}}</div>

       <input *ngIf="this.hidden[booking.id]" type="text" [(ngModel)]="updBankAccountBooking" placeholder="BankAccount"
              style="width: 250px;">-->

      <div *ngIf="!this.hidden[booking.id]"> {{booking.assignedBankAccount.bankName}}


      </div>
      <select [(ngModel)]="updBankAccountB">
        <option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{bankAccount.bankName}}</option>
      </select>
    </td>
    <td>

      <button (click)="deleteBookings(booking.id)" class="create" size="small" shape="regular" type="button"
              color="primary">Delete
      </button>


      <button *ngIf="!this.hidden[booking.id]"
              (click)="updValue=booking.value;updBudgetB=booking.assignedBudget.id;updUserB=booking.assignedUser.id;updProjectB=booking.assignedProject.id;updBankAccountB=booking.assignedBankAccount.id;this.hidden[booking.id]= !this.hidden[booking.id]"
              class="create" size="small" style="margin-left: 5px" shape="regular" type="button" color="primary"
      > Edit Booking
      </button>


      <button *ngIf="this.hidden[booking.id]"
              (click)="updateBooking(booking.id);this.hidden[booking.id]= !this.hidden[booking.id]"
              class="create" size="small" shape="regular" type="button" color="primary"
      >Submit
      </button>


    </td>


  </tr>


</table>
<hr>

<h1> Project Table</h1>
<table>

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>

  </tr>
  <tr>
    <th><input type="name" [(ngModel)]="name" placeholder="Name" style="width: 250px;"></th>
    <th><input type="text" [(ngModel)]="description" placeholder="Description" style="width: 250px;">
    <th><select [(ngModel)]="userP">
      <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
    </select></th>
    <th>
    <button (click)="createProject()" class="create" size="regular" shape="regular" type="button" color="primary"
    >Create a Project
    </button>
    </th>

  </tr>
  <tr class="genre" *ngFor="let pj of projects ">

    <td>
      <div *ngIf="!this.hidden[pj.id]" style="width: 250px;margin-top: 5px">{{pj.name}}</div>

      <input *ngIf="this.hidden[pj.id]" type="text" [(ngModel)]="updName" style="width: 250px;margin-top: 5px">

    </td>
    <td>
      <div *ngIf="!this.hidden[pj.id]" style="width: 250px;margin-top: 5px">{{pj.description}}</div>
      <input *ngIf="this.hidden[pj.id]" type="text" [(ngModel)]="updDescription" style="width: 250px;margin-top: 5px">
    </td>
    <td>


      <div *ngIf="!this.hidden[pj.id]"> {{pj.assignedUser}}


      </div>
      <select [(ngModel)]="updUserP">
        <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
      </select>
    </td>

    <td>

      <button *ngIf="this.hidden[pj.id]" (click)="deleteProject(pj.id);this.hidden[pj.id] =!this.hidden[pj.id]">Delete
        User
      </button>


      <button *ngIf="!this.hidden[pj.id]"
              (click)="updName=pj.name;updDescription=pj.description;this.hidden[pj.id] =!this.hidden[pj.id]">
        Edit
      </button>


      <button *ngIf="this.hidden[pj.id]"
              (click)="updateProject(pj.id);this.hidden[pj.id]= !this.hidden[pj.id]"
              class="create" size="small" style="margin-left: 5px" shape="regular" type="button" color="primary"
      >Submit
      </button>


    </td>


  </tr>


</table>
<hr>

