body {
  background-image: url("src/assets/img/cool-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr{
  border: solid 5px black;

}
h1{
  color: firebrick;
}
table{
  background-color: lightgray;
}
