.mat-icon {
  transform: scale(1.5);

}
body {
  background-image: url("src/assets/img/backgroundOAGARGE.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;

}
.card{
  background-color: lightgray;
  opacity: 92%;
  font-size: 10pt;
}
